@model DocumentStorage.Models.Login

@{
    ViewData["Title"] = "Login";
}


<div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { name = "loginform", id = "loginform" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.Email)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.PasswordFor(m => m.Password)
        </div>
        <ul id="errors"></ul>
        @Html.ValidationSummary()
        <input input type="submit" value="Login" />
    }
    <br />

    <p>
        If you have an acount login,
        if not @Html.ActionLink("sign up", "CreateAccount", "Home") today!
    </p>
</div>

@section Scripts{ 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/site.js"></script>
}